*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.main{
background-color: gray;
}
 .navbar-toggler{
    background-color: white;
 }
.img__logo{
    width: 100px;
}
.carousel-inner{
    height: 70vh;
}
.div__navbar{
    background-color: black;
}
.navbar{
padding: 0;
}
.nav-link{
    color: white;
}
.div__form{
    display: flex;
    flex-direction: column;
    width: 200%;
    padding: 3rem;
}
.section__inicio{
    display: flex;
}
.parrafo__inicio{
    margin-top: 4rem;
    text-align: center;
    margin-left: 1rem;
}
.label__button{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
.section__inicio2{
    display: flex;
    margin: 1rem;
}
.parrafo1{
    color: black;
    text-align: left;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    flex-basis: 60%;
    display: flex;
    align-items: center;
    }
    .video{
        height: 20rem;
        padding: 2rem;
        margin-top: 4rem;
    }
    .footer{
        margin: 0rem;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
    }
    .img__footer{
        height: 50px;
        transition: height 3s;
    }
    
    .img__footer:hover{
        height: 70px
    }
    .div__image {
        display: flex;
        height: 350px;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .div__parrafo{
        display: flex;
        gap: 15rem;
        margin-left: 50px;
        margin-top: 30px;
        color: snow;
    }
    .div__seleccion {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .parrafo__seleccion{
        margin: 4rem;
    }
    .img__seleccionmundial {
        border: none;
        border-radius: var(--bs-border-radius);
        height: 25rem;
        margin-right: 1rem;}

    .display-3{
        text-align: center;
    }
    .div__pvideo{
        display: flex;
        gap: 3rem;
        margin: 3rem;}
    .parrafo__seleccion2{
        margin-top: 6rem;
    }
    .div__pvideo2{
        display: flex;
        gap: 3rem;
    }
    .parrafo__seleccion3{
        margin-top: 6rem;
        margin-left: 3rem;
}
    .video__seleccion2{
        width: 54rem;
        margin: 3rem;
    }
    .div__imgfamilia {
        display: flex;
        height: 26rem;
        margin-top: 1rem;}
        .div__biografia{
            display: flex;
        }
        .div__biografia {
            display: flex;
            height: 25rem;
            gap: 2rem;
        }

        .parrafo__bio{
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            gap: 4rem;
        }
            .section__biografia{
                    display: flex;
                    text-align: center;
                    gap: 3rem;
                    margin: 3rem;
                }
            .parrafo__bio3 {
                    text-align: center;
                    font-size: 20px;}
        .h5{
            text-align: center;
            margin: 2rem;
        }

      @media screen and (max-width:436px){
            .div__nav {
                text-align: right;
            } 
            .carousel-inner {
            height: 14rem;
            }
            .section__inicio {
             display: flex;
             flex-direction: column;}
        .parrafo__inicio {
             margin-top: 1rem;
             text-align: left;
             margin-left: 0rem;
            text-align: center;}
        .div__form {
             display: flex;
             flex-direction: column;
             width: 100%;
             padding: 1rem;}
        .section__inicio2 {
             display: flex;
             flex-direction: column;
             margin: 1rem;
        }
        .video{
            height: 50%;
            margin-top: 0rem;
            width: 100%;
        }
        .div__biografia {
            display: flex;
            height: 50rem;
            gap: 2rem;
            flex-direction: column;}
        .parrafo__bio {
            display: flex;
            flex-direction: column;
            margin-top: 0rem;
            gap: 0rem;
            text-align: center;}
        .section__biografia {
            display: flex;
            text-align: center;
            gap: 1rem;
            margin: 3rem;
            flex-direction: column;}
        .div__image {
            display: flex;
            height: auto;
            justify-content: space-between;
            margin-top: 1rem;
            flex-direction: column;
            gap: 1rem;}    
        .div__parrafo {
            display: flex;
            gap: 5rem;
            margin-left: 0px;
            margin-top: 30px;
            color: snow;
            flex-direction: column;
            text-align: center;
            }
        .div__seleccionarg{
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                gap: 1rem;
        }
        .div__seleccion {
            display: flex;
            flex-direction: column;
            gap: 0rem;
            text-align: center;}
            .div__imgseleccion{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 2rem;
            }
        .div__pvideo {
            display: flex;
            gap: 1rem;
            margin: 1rem;
            flex-direction: column;
            text-align: center;}
        .video__seleccion{
            width: 75%;
            height: 45%;
        }
        .div__pvideo2 {
            display: flex;
            gap: 1rem;
            flex-direction: column;}
        .parrafo__seleccion3 {
            text-align: center;
            margin: 1rem;}

        .img__seleccionmundial{
            margin: 1rem;
            height: 19rem;
            width: 20rem;
            margin-left: 4rem;}

        .div__imgfamilia {
            display: flex;
            height: 55rem;
            margin-top: 1rem;
            flex-direction: column;}
        }
     
        @media screen and (max-width: 769px) and (min-width: 440px){
            .div__nav {
                text-align: right; !important}
            .carousel-inner {
                height: 20rem;
                }
            .section__inicio2 {
                display: flex;
                margin: 1rem;
                flex-direction: column;
                }
            .video {
                height: 28rem;
                padding: 2rem;
                margin-top: 0rem;}
            .div__biografia {
                display: flex;
                height: 72rem;
                gap: 2rem;
                flex-direction: column;}
            .parrafo__bio {
                display: flex;
                flex-direction: column;
                margin-top: 0rem;
                gap: 0rem;
                text-align: center;}
            .section__biografia {
                display: flex;
                text-align: center;
                gap: 1rem;
                margin: 3rem;
                flex-direction: row;}
                .div__image {
                display: flex;
                height: 100rem;
                justify-content: space-between;
                margin-top: 1rem;
                flex-direction: column;
                }
                .div__parrafo {
                    display: flex;
                    gap: 1rem;
                    margin-left: 30px;
                    margin-top: 30px;
                    color: snow;
                    flex-direction: column;
                }
                .div__seleccionarg {
                    display: flex;
                    flex-direction: column;
                }
                .div__seleccionarg {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    margin: 4rem;
                }
                .div__seleccion {
                    display: flex;
                    flex-direction: column;
                    gap: 0rem;
                    font-size: 20px;
                }
                .div__imgseleccion {
                    display: flex;
                    flex-direction: column;
                    margin: 3rem;
                    gap: 3rem;
                }

                .rounded.float-start {
                    height: 25rem;
                    width: 20rem;
                    margin-left: 7rem;
                }
                .rounded.float-end {
                    height: 25rem;
                    width: 20rem;
                    margin-left: 7rem;
                 }
                .div__pvideo {
                    display: flex;
                    gap: 3rem;
                    margin: 3rem;
                    flex-direction: column;
                }
                .video__seleccion {
                    height: 24rem;
                }
                .div__pvideo2 {
                    display: flex;
                    gap: 3rem;
                    flex-direction: column;
                }
                .parrafo__seleccion2 {
                    margin-top: 1rem;
                }
                .parrafo__seleccion3 {
                    margin: 3rem;
                }
                .video__seleccion2 {
                    width: 42rem;
                    margin-left: 3rem;}

                    .img__seleccionmundial {
                        height: 18rem;
                        width: 22rem;
                        margin-left: 14rem;}

                 .div__imgfamilia {
                    display: flex;
                    height: 86rem;
                    flex-direction: column;
                    gap: 2rem;
                    margin: 2rem;}
                 }

       @media screen and (min-width:992px) and (max-width:1025px){
            .carousel-inner {
                height: 30rem;}
            .section__inicio2 {
                display: flex;
                margin: 1rem;
                flex-direction: column;
                    }
                    .video {
                height: 37rem;
                padding: 2rem;
                margin-top: 4rem;
                    }
                    .div__biografia {
                display: flex;
                height: 90rem;
                gap: 0rem;
                flex-direction: column;
                margin: 3rem;
                    }
                    .div__image {
                display: flex;
                height: 115rem;
                justify-content: space-between;
                flex-direction: column;
                margin: 3rem;
                gap: 3rem;}
                
                    .div__parrafo {
                 display: flex;
                gap: 1rem;
                margin-left: 50px;
                margin-top: 30px;
                color: snow;
                flex-direction: column;
                    }
                    .parrafo__bio {
                display: flex;
                flex-direction: column;
                margin-top: 3rem;
                gap: 1rem;
                text-align: center;
             }
             .rounded float-end1{
                height: 35rem;
                width: 58rem;
                }

                .div__imgseleccion{
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;
                    margin-left: 1rem;
                    margin-top: 3rem;}

                .div__seleccion {
                    display: flex;
                    flex-direction: column;
                    gap: 0rem;
                    font-size: 20px;
                 }
                .div__pvideo {
                    display: flex;
                    gap: 1rem;
                    margin: 1rem;
                    flex-direction: column;}
                .video__seleccion {
                    height: 30rem;
                }
                .parrafo__seleccion3 {
                    margin-top: 1rem;
                    margin-left: 1rem;
                }
                .div__pvideo2 {
                    display: flex;
                    gap: 1rem;
                    flex-direction: column;
                }
                .video__seleccion2 {
                    margin: 1rem;
                    height: 30rem;
                }

                .img__seleccionmundial {
                    height: 25rem;
                    width: 30rem;
                    margin-left: 17rem;
                }

                    .rounded.float-start {
                        height: 25rem;
                        width: 20rem;
                        margin-left: 7rem;
                    }
                    .rounded.float-end {
                        height: 25rem;
                        width: 20rem;
                        margin-left: 7rem;
                     }
                 .div__imgfamilia {
                    display: flex;
                    height: 120rem;
                    margin-top: 1rem;
                    flex-direction: column;
                    gap: 0rem;}
                    
                    .rounded.float{
                        height: 35rem;
                        width: 58rem;
                        margin: 3rem;
                    }
                }