.div1 {
    display: flex;
    height: $height-div1;
    justify-content: space-around;
    margin: 3rem;
    &__parrafo{
        display: flex;
        gap: 1rem;
        margin-left: 50px;
        margin-top: 30px;
        color:$color-div1__parrafo;
        flex-direction: column;
    }
    .color__borde
{
    background-color: black;
}
    }
    .div__parrafo{
        padding: 2rem;
        text-align: center;
    }