.footer{
    margin: 0rem;
    padding: $padding-footer;
    display: flex;
    justify-content: space-evenly;
   
&__img{
    height:$height-footer__img;
    transition: height 3s;
    }
    
&__img:hover{
    height: 70px
    }
}