.section{
    display: flex;
    &__parrafo
    {
        margin-top: 4rem;
        text-align: center;
        margin-left: 1rem;
    }
    &__inicio2 {
        display: flex;
        margin: $margin-section__inicio2;
        align-items: center;
        flex-direction: column;}
        &__parrafo1{
            color:$color-section__parrafo1;
            text-align: left;
            font-size: $font-size-section__parrafo1;
            font-family:$font-family-section__parrafo1;  
            flex-basis: 60%;
            display: flex;
            align-items: center;
            }
} 
.video {
    height:$height-video;
    padding:$padding-video;
    margin: $margin-video;}
