.div__seleccionarg{
    display: flex;
    flex-direction: column;}
    .seleccion {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        &__parrafo{
            margin:$margin-seleccion__parrafo;
            }
        }
        .seleccion2{
            display: flex;
            gap: 3rem;
            margin: 3rem;
            align-items: center;
            &__parrafo{
                margin-top: 1rem;
                }
                &__video{
                    width: $width-seleccion2__video;
                    }
            }
            .seleccion3{
                display: flex;
                gap: 3rem;
                align-items: center;
                &__parrafo{
                    margin-top: 6rem;
                    margin-left: 3rem;
                }
              &__img {
                    border: none;
                    border-radius: var(--bs-border-radius);
                    height: $height-seleccion3__img;
                    margin-right: 1rem;}
                
                }
                .display-3{
                    text-align: center;
                    }
                    .video__seleccion2{
                        width:$width-video__seleccion2;
                        margin: $margin-video__seleccion2;
                        }