$margin-section__inicio2: 1rem;
$color-section__parrafo1: black;
$font-size-section__parrafo1: 16px;
$font-family-section__parrafo1: 'Times New Roman', Times, serif;
$height-video: 25rem;
$padding-video: 2rem;
$margin-video:1rem;
$margin-bio:4rem;
$gap-biografia__parrafo:1rem;
$margin-biografia__section:3rem;
$height-div1: 200px;
$color-div1__parrafo: snow;
$height-div__imgfamilia: 13rem;
$margin-seleccion__parrafo:4rem;
$width-seleccion2__video:30rem;
$height-seleccion3__img:25rem;
$width-video__seleccion2:54rem;
$margin-video__seleccion2:3rem;
$padding-footer:1rem;
$height-footer__img:50px;
